body {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
}

.digit {
  display: inline-block;
  font-size: 80px;
}

.redDigit {
  color: red;
}

.buttons {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  width: 360px;
  margin: 40px 0;
}